openapi: 3.0.3
info:
  title: Columbus Server API
  description: |
    Columbus Server API sepcification.
  contact:
    email: info@elmasy.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.9.0
servers:
  - url: https://columbus.elmasy.com
tags:
  - name: domain
    description: Lookup/Insert domain.
  - name: info
    description: Server informations.
  - name: tools
    description: Helper APIs.

paths:
  /lookup/{domain}:
    get:
      tags:
        - domain
      summary: Lookup subdomains for domain.
      description: |
        Returns a list of subdomains.

        Returns a list of subdomains only, the domain not included (eg.: `["one", "two", ...]`).
        
        If a FQDN is requested than the domain name will be taken out and used in the lookup (eg.: `/lookup/columbus.elmasy.com` will be the same as `/lookup/elmasy.com`)
        
        *NOTE*: It is not necessary for the subdomain part to exist in the database, the subdomain part will be trimmed (eg.: `/lookup/totally.invalid.elmasy.com` will be the same as `/lookup/elmasy.com`).
        
        If `Accept` header is set to `text/plain`, this endpoint returns a newline delimetered text of the list (eg.: `one\ntwo\nthree`).
      parameters:
        - name: domain
          in: path
          description: Domain to get the subdomains.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringArray'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '400':
          description: Invalid domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '404':
          description: Domain not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.

  /stat:
    get:
      tags:
        - info
      summary: Basic domain statistic
      description: |
        Basic domain statistic that holds the total number of domains and
        the total number of subdomains across domains.
        
        The `date` field is in Unix time format.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stat'
        '204':
          description: The background process is started recently and currently cant give useful information. Try again later.
        '503':
          description: The API is not enabled
  
  /tools/tld/{fqdn}:
    get:
      tags:
        - tools
      summary: Get the TLD from a FQDN.
      description: |
        Get the TLD part (eg.: `com`) from a FQDN (eg.: `columbus.elmasy.com`).
        
        **IMPORTANT**: Only ICANN managed TLDs are returned, the private ones are only returned in the Top Level Domain.
        (eg.: `columbus.elmasy.co.uk` -> `co.uk` or `columbus.elmasy.local` -> `local`)
        
        If `Accept` header is `text/plain`, returns the result as a string.
      parameters:
        - name: fqdn
          in: path
          description: FQDN to get the TLD.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '400':
          description: Bad Request. See the error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
                
  /tools/domain/{fqdn}:
    get:
      tags:
        - tools
      summary: Get the domain from a FQDN.
      description: |
        Get the domain part (eg.: `elmasy.com`) from a FQDN (eg.: `columbus.elmasy.com`).
        
        If `Accept` header is `text/plain`, returns the result as a string.
      parameters:
        - name: fqdn
          in: path
          description: FQDN to get the domain.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '400':
          description: Bad Request. See the error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
  
  /tools/subdomain/{fqdn}:
    get:
      tags:
        - tools
      summary: Get the subdomain from a FQDN.
      description: |
        Get the subdomain part (eg.: `columbus`) from a FQDN (eg.: `columbus.elmasy.com`).
        
        If `Accept` header is `text/plain`, returns the result as a string.
      parameters:
        - name: fqdn
          in: path
          description: FQDN to get the subdomain.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '400':
          description: Bad Request. See the error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '404':
          description: Subdomain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
  
  /tools/isvalid/{fqdn}:
    get:
      tags:
        - tools
      summary: Returns whether FQDN is a valid domain.
      description: |
        Returns whether FQDN is a valid domain.
      parameters:
        - name: fqdn
          in: path
          description: FQDN to check.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultBool'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
        
components:

  schemas:
    StringArray:
      type: array
      items:
        type: string
    String:
      type: string
    Result:
      type: object
      properties:
        result:
          type: string
    ResultBool:
      type: object
      properties:
        result:
          type: boolean
    Error:
      type: object
      properties:
        error:
          type: string
    Stat:
      type: object
      properties:
        date:
          type: integer
        domain:
          type: integer
        sub:
          type: integer
