openapi: 3.0.3
info:
  title: Columbus Server API
  description: |
    Columbus Server API sepcification.

    Besides lookup, every endpoint needs an API key. Because Columbus Server is in alpha stage, API keys are manually distributed.
    Any endpoint, that requires API key include a basic blacklisting algorithm which blocks Client's IP for X second.
    Missing API key is not results a block, but invalid API key is.

    There are 2 type of user:
      - **user**: allowed to insert domain and manage its own settings.
      - **admin**: anything in **user**, plus allow to add/manage other users.
  contact:
    email: mail@danielgorbe.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1
servers:
  - url: https://columbus.elmasy.com
tags:
  - name: domain
    description: Lookup/Insert domain.
  - name: user
    description: User operations.
  - name: admin
    description: Admin operations.
  - name: info
    description: Server informations.

paths:
  /lookup/{domain}:
    get:
      tags:
        - domain
      summary: Lookup subdomains for domain.
      description: |
        Returns a list of subdomains.

        Returns a list of subdomains only, the domain not included (eg.: `["one", "two", ...]`).
        
        If `Accept` header is set to `text/plain`, this endpoint returns a newline delimetered text of the list (eg.: `one\ntwo\nthree`).
      parameters:
        - name: domain
          in: path
          description: Domain to get the subdomains.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringArray'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '400':
          description: Invalid domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '403':
          description: Client IP is blocked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Domain not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
  /insert/{domain}:
    put:
      tags:
        - domain
      summary: Insert domain.
      description: |
        Insert domain to the database.
        If the domain is exist, silently ignores it.
      parameters:
        - name: domain
          in: path
          description: Domain to insert
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success.
        '400':
          description: Invalid domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "`X-Api-Key` is missing or invalid."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/plain:
              schema:
                $ref: '#/components/schemas/String'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
  
  /user:
    get:
      tags:
        - user
      summary: Get user info
      description: |
        Get user info based on `X-Api-Key` header.
        
        Admins can impersonate other users by set the `X-Api-Key` to the other's key.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: "`X-Api-Key` is missing or invalid."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
    put:
      tags:
        - admin
      summary: Add user
      description: Add user. Only admin can do this!
      parameters:
        - name: name
          in: query
          required: true
          description: New user's name
          schema:
            type: string
        - name: admin
          in: query
          required: false
          description: Set admin value to <value>. If omitted, set to false.
          schema:
            type: boolean
      responses:
        '201':
          description: The user created.
          content:
            apllication/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Blocked or user not admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Name taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
    delete:
      tags:
        - user
      summary: Delete user
      description: |
        Delete user based on `X-Api-Key` header.
        
        Admins can impersonate other users by set the `X-Api-Key` to the other's key.
      parameters:
        - name: confirmation
          in: query
          description: Confirm the delete
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Success
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad request. See error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
      - x-api-key: []

  /user/key:
     patch:
      tags:
        - user
      summary: Change user key
      description: |
        User can update its key. User is selected based on `X-Api-Key`.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
  
  /user/name:
     patch:
      tags:
        - user
      summary: Change user name
      description: |
        User can update its name. User is selected based on `X-Api-Key`.
        
        It is possible that the desired name is taken.
      parameters:
        - name: name
          description: |
            Set this paramater to change the name to the value.
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request. The name parameter is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Desired name is taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
  
  /other:
    get:
      tags:
        - admin
      summary: Get other user
      description: |
        Get other user based on `username`.
        Only admins can do this.
      parameters:
        - name: username
          description: Name of the user to get
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request. See the error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked or user (based on `X-Api-Key`) is not admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Target user not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
        
  /other/key:
    patch:
      tags:
        - admin
      summary: Update other user key
      description: |
        Admin can update other user's API key.
      parameters:
        - name: username
          description: Name of the user to configure
          in: query
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request. See the error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked or user (based on `X-Api-Key`) is not admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Target user not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
        
  /other/name:
    patch:
      tags:
        - admin
      summary: Update other user name
      description: |
        Admin can update other user's name.
      parameters:
        - name: username
          description: Name of the user to configure
          in: query
          required: true
          schema:
            type: string
        - name: name
          description: Set this paramater to update the name to the value
          in: query
          required: false
          schema:
            type: string
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '304':
          description: Not Modified. The new name is the same as the old.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request. See the error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked or user (based on `X-Api-Key`) is not admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Target user not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Name is taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
  /other/admin:
    patch:
      tags:
        - admin
      summary: Update other user admin status.
      description: |
        Admin can update other user's admin status.
      parameters:
        - name: username
          description: Name of the user to configure
          in: query
          required: true
          schema:
            type: string
        - name: admin
          description: Set this paramater to update the admin filed to the value
          in: query
          required: false
          schema:
            type: string
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '304':
          description: Not Modified. The new admin value is the same as the old.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Bad Request. See the error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Client IP is blocked or user (based on `X-Api-Key`) is not admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Target user not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
      security:
        - x-api-key: []
      
  
  /users:
    get:
      tags:
        - admin
      summary: Get every user
      description: Get a list of every user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        '401':
          description: "`X-Api-Key` is missing or invalid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Blocked or user is not admin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad Gateway. Upstream failed.
        '504':
          description: Gateway Timeout. Upstream response takes too long.
  
  /stat:
    get:
      tags:
        - info
      summary: Basic domain statistic
      description: |
        Basic domain statistic that holds the total number of domains and
        the total number of subdomains across domains.
        
        The `date` field is in Unix time format.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stat'
        '204':
          description: The background process is started recently and currently cant give useful information. Try again later.
        '403':
          description: Blocked IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        
components:

  schemas:
    StringArray:
      type: array
      items:
        type: string
    String:
      type: string
    Error:
      type: object
      properties:
        error:
          type: string
    User:
      type: object
      properties:
        key:
          type: string
        name:
          type: string
        admin:
          type: boolean
    Users:
      type: array
      items:
        $ref: '#/components/schemas/User'
    Stat:
      type: object
      properties:
        date:
          type: integer
        domain:
          type: integer
        sub:
          type: integer

  securitySchemes:
    x-api-key:
      type: apiKey
      name: X-Api-Key
      in: header